body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.backgroundcover {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 700;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
}

#journey {
    text-align: center;
    color: white;
}

.button {
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(216, 97, 97), rgb(228, 78, 78));
    margin-left: 45%;
}

.margin {
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;

}

#difference {
    color: rgb(70, 158, 158);
    text-align: center;
}

#flex {
    display: flex;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 50px;
}

.box {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(252, 248, 248);
    font-weight: 900;
    font-size: larger;
    color: rgb(126, 115, 115);
}

#box {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(238, 226, 228);
    font-weight: 900;
    font-size: larger;
    color: rgb(206, 85, 85);
    border: 2px solid rgb(182, 80, 80);
}

h4 {
    text-align: center;
    color: rgb(185, 182, 182);
}

hr {
    margin: 0 250px;
    color: gray;
}